
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bio img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  margin-bottom: 20px;
  animation: spin 4s linear infinite; /* Hier voegen we de animatie toe aan het element */
}

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px auto auto 250px; /* Explicitly set the height for the footer */
    grid-template-areas: 
      "header"
      "nav"
      "article"
      "footer";
  }

/* ... (existing styles) ... */

  header {
    grid-area: header;
    height: 100px;
    background-color: #7CB9E8;
    display: grid;
    color: white; 
    place-items: center; 
  }


  footer {
    background-color: #7CB9E8;
    grid-area: footer;
    height: 50px;
    place-items: center;
    display: grid;
    color: white; 
  }
  
  article {
    grid-area: article;
    background-color: #f4f4f4;
  }
  
  .container {
    padding: 20px;
  }
  
  .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  nav {
    background-color: #7CB9E8;
    display: flex;
    justify-content: center; 
    align-items: center;
    }

  ul {
    list-style-type: none; /* Verwijder de standaard opmaak voor lijsten */
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  li {
    float: left; /* Laat de lijsten naast elkaar uitlijnen */
  }

  li a {
    display: block; /* Maak de koppelingen blok-elementen */
    color: white; /* Tekstkleur van de koppelingen */
    text-align: center;
    padding: 14px 16px; /* Ruimte binnen de koppelingen */
    text-decoration: none; /* Verwijder de onderstreping van de koppelingen */
  }

  li a:hover {
    background-color: #111; /* Achtergrondkleur veranderen wanneer de muis erover beweegt */
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
  }
